#ClueLess {
    padding: 5vh 5vw;
}

#playersPanel, #game, #checklistPanel, #cardPanel {
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

#gameBoard {
    height: 100%;
    width: 100%;
}

#playersPanel {
    height: 5em;
}
#cardPanel {
    height: 10em;
}

#endTurn {
    margin-left: 2em;
}