<ng-container *ngIf="socket">
    <div id="ClueLess">

        <div id="topMessage" class="row">
            <h2 *ngIf="gamestate && gamestate.characters_in_game.length > 1 && !gameHasBegun">Player 1 only can start the game! Begin whenever you're ready.</h2>
            <h2 *ngIf="gamestate && !(gamestate.characters_in_game.length > 1)">Waiting for at least 1 more player to join...</h2>
            <h2 *ngIf="gameHasBegun && gamestate && gamestate.currentPlayerId === playerId">It's your turn!</h2>
        </div>

        <div class="d-flex justify-content-between">
            <button id="exitButton" class="genButtonStyle" (click)="disconnect()" matTooltip="Quit game">
                <a class="navButtonLink" routerLink="/start" routerLinkActive="active">Exit</a>
            </button>
            <button *ngIf="gamestate && !gameHasBegun && playerId === 'player0'"
                [disabled]="!(gamestate.characters_in_game.length > 1)"
                [ngClass]="{'isDisabled': !(gamestate.characters_in_game.length > 1)}"
                (click)="beginGame()" id="beginButton" class="genButtonStyle"
                matTooltip="Player 1, Begin Game">
                <b>Begin Game</b>
            </button>
            <a class="d-flex align-items-end" href="#"
                onclick="window.open('../../assets/Clue-Less_Rules.pdf', '_blank', 'fullscreen=yes'); return false;">
                <h4 style="margin: 0">Clue-Less Game Rules</h4>
                <!-- Open in new window icon -->
                <div>
                    <svg class="bi bi-box-arrow-up-right" style="font-size: 15px;" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 003 14.5h8a1.5 1.5 0 001.5-1.5V9a.5.5 0 00-1 0v4a.5.5 0 01-.5.5H3a.5.5 0 01-.5-.5V5a.5.5 0 01.5-.5h4a.5.5 0 000-1H3A1.5 1.5 0 001.5 5v8zm7-11a.5.5 0 01.5-.5h5a.5.5 0 01.5.5v5a.5.5 0 01-1 0V2.5H9a.5.5 0 01-.5-.5z" clip-rule="evenodd"/>
                        <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 010 .708l-8 8a.5.5 0 01-.708-.708l8-8a.5.5 0 01.708 0z" clip-rule="evenodd"/>
                    </svg>
                </div>
            </a>
        </div>

        <div id="top" class="row no-gutters">
            <div class="col">
                <div id="playersPanel">
                    <div class="row">
                        <h1 class="col">Players</h1>
                        <ng-container *ngIf="gamestate">
                            <h3 class="col" *ngFor='let c of gamestate.characters_in_game'
                                [ngClass]="{
                                    'ColonelMustardFont': c === 'Colonel Mustard',
                                    'MissScarletFont': c === 'Miss Scarlet',
                                    'ProfessorPlumFont': c === 'Professor Plum',
                                    'MrGreenFont': c === 'Mr Green',
                                    'MrsWhiteFont': c === 'Mrs White',
                                    'MrsPeacockFont': c === 'Mrs Peacock'
                                }">
                                {{c}}
                            </h3>
                        </ng-container>
                    </div>
                    <p *ngIf="gameHasBegun && gamestate" class="playerInfo" id="whosTurn"><b>It's {{getPlayerNum(gamestate.currentPlayerId)}}'s turn!</b></p>
                    <p class="playerInfo" id="playerNumber"><i>You are {{getPlayerNum(playerId)}}</i></p>
                </div>
            </div>
        </div>

        <div id="middle" class="row no-gutters">
            <div class="col-9">
                <div id="gameBoard">
                    <gameboard id="gameboard"></gameboard>
                </div>
            </div>

            <div class="col-3">
                <div id="checklistPanel" class="col">
                    <!--accuBtn is for when players make their one allowed accusation-->
                    <button id="accuBtn" class="genButtonStyle">Accusation</button>

                    <div id="checklist">
                        <h1 id="checklistTitle"><u>Checklist</u></h1>

                        <h2 class="sublist-title">Suspects</h2>
                        <mat-list class="sublist">
                            <mat-list-item>
                                <mat-checkbox>Mr. Green</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Prof. Plum</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Coln. Mustard</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Mrs. Peacock</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Miss Scarlet</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Mrs. White</mat-checkbox>
                            </mat-list-item>
                        </mat-list>

                        <h2 class="sublist-title" style="padding-top: 1em;">Weapons</h2>
                        <mat-list class="sublist">
                            <mat-list-item>
                                <mat-checkbox>Candlestick</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Knife</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Lead Pipe</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Revolver</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Rope</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Wrench</mat-checkbox>
                            </mat-list-item>
                        </mat-list>

                        <h2 class="sublist-title" style="padding-top: 1em;">Rooms</h2>
                        <mat-list class="sublist">
                            <mat-list-item>
                                <mat-checkbox>Conservatory</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Lounge</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Kitchen</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Library</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Hall</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Study</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Ballroom</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Dining Room</mat-checkbox>
                            </mat-list-item>

                            <mat-list-item>
                                <mat-checkbox>Billiard Room</mat-checkbox>
                            </mat-list-item>
                        </mat-list>
                    </div>
                </div>
            </div>
        </div>

        <div id="bottom" class="row no-gutters cardPanel">
            <div id="cardPanel_left" class="col-3">
                <h1 id="cardMenuTitle">Card Menu</h1>
                <div id="playerClr" *ngIf="playerstate"
                    matTooltip="{{playerstate.suspect}}"
                    [ngClass]="{
                        'ColonelMustardBkgd': playerstate.suspect === 'Colonel Mustard',
                        'MissScarletBkgd': playerstate.suspect === 'Miss Scarlet',
                        'ProfessorPlumBkgd': playerstate.suspect === 'Professor Plum',
                        'MrGreenBkgd': playerstate.suspect === 'Mr Green',
                        'MrsWhiteBkgd': playerstate.suspect === 'Mrs White',
                        'MrsPeacockBkgd': playerstate.suspect === 'Mrs Peacock'
                        }"
                ></div>
                <button *ngIf="playerstate" id="suggBtn" class="genButtonStyle" matTooltip="Make a suggestion"
                    [disabled]="!playerstate.isSuggestionValid" [ngClass]="{'isDisabled': !!playerstate.isSuggestionValid}"
                >Suggestion</button>

                <button type="button" id="endTurn" class="genButtonStyle" name="button" matTooltip="End your turn" (click)="endTurn()">End Turn</button>
            </div>

            <div id="cardPanel_right" class="col-9">
                <div id="outputTxt">
                    <h5 *ngIf="message" [ngStyle]="{'color': message.color}"
                    >{{message.message}}</h5>
                </div>

                <div id="playerHnd" class="card-columns">
                    <div *ngFor="let card of cardList" class="card bg-light mb-3" style="max-width: 18rem;">
                        <div class="card-header">{{card}}</div>
                        <div class="card-header"><small class="text-muted">Type</small></div>
                        <img class="card-img-bottom" src="" alt="card">
                    </div>
                </div>

                <div id="moveOptions" *ngIf="gameHasBegun && gamestate && gamestate.currentPlayerId === playerId">
                    <p class="col">Choose a room to move to:</p>
                    <button *ngFor="let move of moveOptions" class="col moveButtons" value="move" (click)="makeMove(move)">
                        {{ move.includes('-') ? move + ' Hallway' : move }}
                    </button>
                </div>

            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!socket">
    <h1>Sorry! You are no longer connected to the game :(</h1>
    <h2>Re-enter the game hosting URL to restart.</h2>
	<h2>In addition, turn off your computer, reset your circuit breaker and check your plumbing!</h2>
</ng-container>