@color-mustard: #FFD966;
@color-scarlet: #CC0000;
@color-plum: #4C0099;
@color-green: #009900;
@color-white: #FFFFFF;
@color-peacock: #004C99;

.ColonelMustard {
    color: @color-mustard;
}
.MissScarlet {
    color: @color-scarlet;
}
.ProfessorPlum {
    color: @color-plum;
}
.MrGreen {
    color: @color-green;
}
.MrsWhite {
    color: black; // black so the font shows on the white background
}
.MrsPeacock {
    color: @color-peacock;
}

#ClueLess {
    padding: 5vh 5vw;
}

#playersPanel, #game, gameboard, #checklistPanel, #cardPanel {
    border: 1px solid black;
    height: 100%;
    width: 100%;
}

#gameBoard, #game, gameboard {
    height: 100%;
    width: 100%;
}

#playersPanel {
    height: 5em;
}
#cardPanel {
    height: 100%;
}

#switchGameBoard {
    margin-right: 2em;
}

/* Created a general button style class to reduce boilerplate style code. */
.genButtonStyle {
    color: black;
	background-color: white;
	border: solid black;
	height: 40px;
	font-family: "Lucida Console", Verdana, Geneva, sans-serif;
	border-radius: 13px;
    font-size: 16px;
}

.genButtonStyle:hover {
    background-color: black;
	color: white;
}

/* General styling for buttons that contains links - button text shows up blue and underlined otherwise. */
.navButtonLink{
    text-decoration: none;
}

.navButtonLink:hover{
    color: white;
    text-decoration: none;
}

/* Positioning of endTurn button*/
#endTurn {
    margin-left: 2em;
    position: relative;
    left: 4%;
    top: 15px;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    /* Added grey background color to show disabled button (overrides genButtonStyle) */
    background-color: #9e9e9e;
}

.isDisabled:hover {
    /* Added grey background color to show when hovering disabled button (overrides genButtonStyle) */
    background-color: #9e9e9e;
}

.playerInfo {
    display: inline;
    margin: 0;
}
#whosTurn {
    float: left;
    padding-left: 5px;
}
#playerNumber {
    float: right;
    padding-right: 5px;
}

/* Made font the same across majority of elements. */
div, h1, h2, p {
	font-family: "Lucida Console", Verdana, Geneva, sans-serif;
}

/* Positioning for the suggestion button */
#suggBtn {
    display: block;
    position: relative;
    left: 85%;
    bottom: 59%;
}

/* Positioning for the accusation button */
#accuBtn {
    display: block;
    position: relative;
    left: 25%;
    top: 70%;
}

/* Styling for the moveButtons within the moveOptions div. */
.moveButtons {
	color: black;
	background-color: white;
	border: solid black;
	height: 40px;
	font-family: "Lucida Console", Verdana, Geneva, sans-serif;
	border-radius: 13px;
	font-size: 16px;
}

#outputTxt{
    border: 2px solid #d4d6d4;
    background-color: #d4d6d4;
    height: 30%;
    width: 70%;
    position: relative;
    left: 28%;
    bottom: 65%;
}

#playerClr {
    border: 2px solid black;
    height: 100px;
    width: 100px;
    position: relative;
    left: 7%;
}

#playerHnd {
    border: 2px solid black;
    height: 23%;
    width: 70%;
    position: relative;
    left: 28%;
    bottom: 52%;
}

#moveOptions {
    /*border: 2px solid grey;*/
    height: 70px;
    width: 55%;
    position: relative;
    left: 28%;
    bottom: 43%;
}

.cardPanels {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-auto-rows:minmax(100px, auto);
	background-color: white;
}

.cardPanels > div {
	background-color: white;
	border: solid black 3px;
}

.gameboardDiv {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-auto-rows:minmax(100px, auto);
	background-color: white;
}

.gameboardDiv > div {
	background-color: white;
	border: solid black 3px;
}

.wrapper {
	display: grid;
	grid-template-columns: .5fr 2fr .5fr;
	grid-auto-rows:minmax(10px, auto);
}

.wrapper > div {
	/*background-color: #eee;*/
	padding: 1em;
}

.wrapper > div:nth-child(odd){
	/*background-color: #ddd;*/
}

.wrapHeader {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows:minmax(100px, auto);
	background-color: white;
	border: solid black 3px;
}