<ng-container *ngIf="socket">
    <div id="ClueLess">

        <h2 *ngIf="availableCharacters.length < 5 && !gameHasBegun">Player 1 only can start the game! Begin whenever you're ready.</h2>
        <h2 *ngIf="!(availableCharacters.length < 5)">Waiting for at least 1 more player to join...</h2>

        <button id="exitButton" (click)="disconnect()"><a routerLink="/start" routerLinkActive="active" class="navButtonLink">Exit</a></button>
        <button *ngIf="playerId === 'player0' && !gameHasBegun"
            [disabled]="!(availableCharacters.length < 5)"
            [ngClass]="{'isDisabled': !(availableCharacters.length < 5)}"
            (click)="beginGame()" id="beginButton">
            Begin Game
        </button>
        <div id="top" class="row no-gutters">
            <div class="col">
            <div id="playersPanel">
                <div class="row">
                    <h1 class="col">Players</h1>
                    <ng-container *ngIf="gamestate">
                        <h3 class="col" *ngFor='let c of gamestate.characters_in_game'
                            [ngClass]="{
                                'ColonelMustardFont': c === 'Colonel Mustard',
                                'MissScarletFont': c === 'Miss Scarlet',
                                'ProfessorPlumFont': c === 'Professor Plum',
                                'MrGreenFont': c === 'Mr Green',
                                'MrsWhiteFont': c === 'Mrs White',
                                'MrsPeacockFont': c === 'Mrs Peacock'
                            }">
                            {{c}}
                        </h3>
                    </ng-container>
                </div>
                <p *ngIf="gameHasBegun && gamestate" class="playerInfo" id="whosTurn"><b>It's {{getPlayerNum(gamestate.currentPlayerId)}}'s turn!</b></p>
                <p class="playerInfo" id="playerNumber"><i>You are {{getPlayerNum(playerId)}}</i></p>
            </div>
            </div>
        </div>

        <div id="middle" class="row no-gutters">
            <div class="col-9">
            <div id="gameBoard">
                <gameboard id="gameboard"></gameboard>
            </div>
            </div>

            <div class="col">
            <div id="checklistPanel">
                <h1>Checklist</h1>
                <button id="accuBtn">Accusation</button>
            </div>
            </div>
        </div>

        <div id="bottom" class="row no-gutters">
            <div class="col">
            <div id="cardPanel">
                <h1>Card Menu</h1>

                <div id="playerClr"
                    [ngClass]="{
                        'ColonelMustardBkgd': character === 'Colonel Mustard',
                        'MissScarletBkgd': character === 'Miss Scarlet',
                        'ProfessorPlumBkgd': character === 'Professor Plum',
                        'MrGreenBkgd': character === 'Mr Green',
                        'MrsWhiteBkgd': character === 'Mrs White',
                        'MrsPeacockBkgd': character === 'Mrs Peacock'
                    }"
                ></div>

                <button type="button" id="endTurn" name="button" (click)="endTurn()">End Turn</button>

                <div id="outputTxt"></div>

                <div id="moveOptions" class="row" *ngIf="gameHasBegun && gamestate && gamestate.currentPlayerId === playerId">
                    <p class="col">Choose a room to move to:</p>
                    <button *ngFor="let move of moveOptions" class="col moveButtons" value="move" (click)="makeMove(move)">
                        {{ move.includes('-') ? move + ' Hallway' : move }}
                    </button>
                </div>

                <button id="suggBtn">Suggestion</button>

                <div id="playerHnd"></div>
            </div>
            </div>
        </div>
    </div>
</ng-container>

<ng-container *ngIf="!socket">
    <h1>Sorry! You are no longer connected to the game :(</h1>
    <h2>Re-enter the game hosting URL to restart.</h2>
	<h2>In addition, turn off your computer, reset your circuit breaker and check your plumbing!</h2>
</ng-container>