<nav>
    <button><a routerLink="/start" routerLinkActive="active">Back to Start Menu</a></button>
</nav>

<h1>Select a character:</h1>

<div class="row">
    <div class="col">
        <button mat-raised-button class="mustard">Colonel Mustard</button>
    </div>
    <div class="col">
        <button mat-raised-button class="scarlet">Miss Scarlet</button>
    </div>
    <div class="col">
        <button mat-raised-button class="plum">Professor Plum</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <button mat-raised-button class="green">Mr. Green</button>
    </div>
    <div class="col">
        <button mat-raised-button class="white">Mrs. White</button>
    </div>
    <div class="col">
        <button mat-raised-button class="peacock">Mrs. Peacock</button>
    </div>
</div>

<nav>
    <button [disabled]="testGameState.players.length < 2">
        <a [ngClass]="{'isDisabled': testGameState.players.length < 2}" [routerLink]="testGameState.players.length < 2 ? [] : ['/game']" routerLinkActive="active">
            Enter Game
        </a>
    </button>
</nav>