@color-mustard: #FFD966;
@color-scarlet: #CC0000;
@color-plum: #4C0099;
@color-green: #009900;
@color-white: #FFFFFF;
@color-peacock: #004C99;

.mustard {
    background-color: @color-mustard;
}
.scarlet {
    background-color: @color-scarlet;
}
.plum {
    background-color: @color-plum;
}
.green {
    background-color: @color-green;
}
.white {
    background-color: @color-white;
}
.peacock {
    background-color: @color-peacock;
}

nav {
    padding-top: 2em;
    padding-bottom: 2em;
}

button {
    margin: 2em;
}

.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
}