<div id="board">
    <table>
        <tr id="row1">
            <td id="study" class="room">
                Study
                <div class="token" *ngIf="gameState.game_board['Study'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['Study'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['Study'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['Study'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['Study'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['Study'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['Study'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td class="hhallway">
                <div class="token" *ngIf="gameState.game_board['study-hall Passage'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['study-hall Passage'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['study-hall Passage'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['study-hall Passage'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['study-hall Passage'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['study-hall Passage'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['study-hall Passage'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td id="hall" class="room">
                Hall
                <div class="token" *ngIf="gameState.game_board['Hall'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['Hall'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['Hall'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['Hall'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['Hall'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['Hall'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['Hall'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td class="hhallway">
                <!--Where Ms. Scarlet starts-->
                <div class="token" *ngIf="gameState.game_board['hall-lounge Passage'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['hall-lounge Passage'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['hall-lounge Passage'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['hall-lounge Passage'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['hall-lounge Passage'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['hall-lounge Passage'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['Sthall-lounge Passageudy'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td id="lounge" class="room">
                Lounge
                <div class="token" *ngIf="gameState.game_board['Lounge'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['Lounge'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['Lounge'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['Lounge'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['Lounge'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['Lounge'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['Lounge'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
        </tr>
        <tr id="row2">
            <td class="vhallway">
                <!--Where Prof. Plum starts-->
                <div class="token" *ngIf="gameState.game_board['study-library Passage'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['study-library Passage'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['study-library Passage'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['study-library Passage'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['study-library Passage'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['study-library Passage'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['study-library Passage'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td></td>
            <td class="vhallway">
                <div class="token" *ngIf="gameState.game_board['hall-billiard Passage'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['hall-billiard Passage'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['hall-billiard Passage'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['hall-billiard Passage'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['hall-billiard Passage'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['hall-billiard Passage'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['hall-billiard Passage'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td></td>
            <td class="vhallway">
                <!--Where Col. Mustard starts-->
                <div class="token" *ngIf="gameState.game_board['lounge-dining Passage'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['lounge-dining Passage'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['lounge-dining Passage'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['lounge-dining Passage'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['lounge-dining Passage'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['lounge-dining Passage'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['lounge-dining Passage'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
        </tr>
        <tr id="row3">
            <td id="library" class="room">
                Library
                <div class="token" *ngIf="gameState.game_board['Library'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['Library'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['Library'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['Library'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['Library'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['Library'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['Library'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td class="hhallway">
                <div class="token" *ngIf="gameState.game_board['library-billiard Passage'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['library-billiard Passage'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['library-billiard Passage'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['library-billiard Passage'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['library-billiard Passage'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['library-billiard Passage'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['library-billiard Passage'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td id="billiard_room" class="room">
                Billiard Room
                <div class="token" *ngIf="gameState.game_board['Billiard Room'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['Billiard Room'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['Billiard Room'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['Billiard Room'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['Billiard Room'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['Billiard Room'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['Billiard Room'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td class="hhallway">
                <div class="token" *ngIf="gameState.game_board['billiard-dining Passage'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['billiard-dining Passage'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['billiard-dining Passage'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['billiard-dining Passage'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['billiard-dining Passage'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['billiard-dining Passage'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['billiard-dining Passage'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td id="dining_room" class="room">
                Dining Room
                <div class="token" *ngIf="gameState.game_board['Dining Room'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['Dining Room'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['Dining Room'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['Dining Room'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['Dining Room'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['Dining Room'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['Dining Room'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
        </tr>
        <tr id="row4">
            <td class="vhallway">
                <!--Where Mrs. Peacock starts-->
                <div class="token" *ngIf="gameState.game_board['library-conservatory Passage'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['library-conservatory Passage'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['library-conservatory Passage'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['library-conservatory Passage'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['library-conservatory Passage'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['library-conservatory Passage'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['library-conservatory Passage'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td></td>
            <td class="vhallway">
                <div class="token" *ngIf="gameState.game_board['billiard-ballroom Passage'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['billiard-ballroom Passage'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['billiard-ballroom Passage'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['billiard-ballroom Passage'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['billiard-ballroom Passage'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['billiard-ballroom Passage'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['billiard-ballroom Passage'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td></td>
            <td class="vhallway">
                <div class="token" *ngIf="gameState.game_board['dining-kitchen Passage'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['dining-kitchen Passage'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['dining-kitchen Passage'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['dining-kitchen Passage'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['dining-kitchen Passage'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['dining-kitchen Passage'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['dining-kitchen Passage'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
        </tr>
        <tr id="row5">
            <td id="conservatory" class="room">
                Conservatory
                <div class="token" *ngIf="gameState.game_board['Conservatory'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['Conservatory'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['Conservatory'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['Conservatory'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['Conservatory'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['Conservatory'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['Conservatory'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td class="hhallway">
                <!--Where Mr. Green starts-->
                <div class="token" *ngIf="gameState.game_board['conservatory-ballroom Passage'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['conservatory-ballroom Passage'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['conservatory-ballroom Passage'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['conservatory-ballroom Passage'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['conservatory-ballroom Passage'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['conservatory-ballroom Passage'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['conservatory-ballroom Passage'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td id="ballroom" class="room">
                Ballroom
                <div class="token" *ngIf="gameState.game_board['Ballroom'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['Ballroom'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['Ballroom'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['Ballroom'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['Ballroom'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['Ballroom'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['Ballroom'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td class="hhallway">
                <!--Where Mrs. White starts-->
                <div class="token" *ngIf="gameState.game_board['ballroom-kitchen Passage'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['ballroom-kitchen Passage'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['ballroom-kitchen Passage'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['ballroom-kitchen Passage'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['ballroom-kitchen Passage'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['ballroom-kitchen Passage'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['ballroom-kitchen Passage'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td id="kitchen" class="room">
                Kitchen
                <div class="token" *ngIf="gameState.game_board['Kitchen'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameState.game_board['Kitchen'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameState.game_board['Kitchen'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameState.game_board['Kitchen'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameState.game_board['Kitchen'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameState.game_board['Kitchen'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameState.game_board['Kitchen'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
        </tr>
    </table>
</div>