@borderSize: 5px;

:host {
    display:block;
    height: 100%;
    width: 100%;
}

#board table {
    border-collapse:separate;
    border-spacing: 15px 15px;
}

.room {
    border: @borderSize solid #000;
    text-align: center;
    width: 100px;
    height: 100px;
    background-color: gray;
}
.vhallway{
    border-left: @borderSize solid #000;
    border-right: @borderSize solid #000;
    width: 100px;
    height: 100px;
    background-color: gray;
}
.hhallway{
    border-top: @borderSize solid #000;
    border-bottom: @borderSize solid #000;
    width: 100px;
    height: 100px;
    background-color: gray;
}

.token{
	height: 50px;
	width: 50px;
	position: relative;
	left: 25px;
	background-color: white;
	border-radius: 50%;
	display: none;
}