:host {
    display:block;
    height: 100%;
    width: 100%;
}

#board table {
    border-collapse:separate;
    border-spacing: 15px 15px;
}

#board tr td {
    border: 1px solid #000;
    text-align: center;
}

#board td {
    padding: 5px
}

.square{
    width:100px;
    height:100px;
}