<!--
    hallways hold only 1 character
    rooms can have multiple characters
-->

<div id="board" *ngIf="gameboard && gameboardKeys.length">
    <table>
        <tr id="row1">
            <td id="study" class="room">
                Study
                <div class="token" *ngIf="gameboard['Study'].length && gameboard['Study'].suspects.length > 0"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Study'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Study'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Study'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Study'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Study'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Study'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Study'].length && gameboard['Study'].suspects.length > 1"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Study'].suspects[1] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Study'].suspects[1] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Study'].suspects[1] === 'Professor Plum',
                        'MrGreen': gameboard['Study'].suspects[1] === 'Mr Green',
                        'MrsWhite': gameboard['Study'].suspects[1] === 'Mrs White',
                        'MrsPeacock': gameboard['Study'].suspects[1] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Study'].length && gameboard['Study'].suspects.length > 2"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Study'].suspects[2] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Study'].suspects[2] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Study'].suspects[2] === 'Professor Plum',
                        'MrGreen': gameboard['Study'].suspects[2] === 'Mr Green',
                        'MrsWhite': gameboard['Study'].suspects[2] === 'Mrs White',
                        'MrsPeacock': gameboard['Study'].suspects[2] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Study'].length && gameboard['Study'].suspects.length > 3"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Study'].suspects[3] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Study'].suspects[3] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Study'].suspects[3] === 'Professor Plum',
                        'MrGreen': gameboard['Study'].suspects[3] === 'Mr Green',
                        'MrsWhite': gameboard['Study'].suspects[3] === 'Mrs White',
                        'MrsPeacock': gameboard['Study'].suspects[3] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Study'].length && gameboard['Study'].suspects.length > 4"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Study'].suspects[4] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Study'].suspects[4] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Study'].suspects[4] === 'Professor Plum',
                        'MrGreen': gameboard['Study'].suspects[4] === 'Mr Green',
                        'MrsWhite': gameboard['Study'].suspects[4] === 'Mrs White',
                        'MrsPeacock': gameboard['Study'].suspects[4] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Study'].length && gameboard['Study'].suspects.length > 5"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Study'].suspects[5] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Study'].suspects[5] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Study'].suspects[5] === 'Professor Plum',
                        'MrGreen': gameboard['Study'].suspects[5] === 'Mr Green',
                        'MrsWhite': gameboard['Study'].suspects[5] === 'Mrs White',
                        'MrsPeacock': gameboard['Study'].suspects[5] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td class="hhallway">
                <div class="token" *ngIf="gameboard['Hall-Study'].length && gameboard['Hall-Study'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Hall-Study'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Hall-Study'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Hall-Study'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Hall-Study'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Hall-Study'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Hall-Study'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td id="hall" class="room">
                Hall
                <div class="token" *ngIf="gameboard['Hall'].length && gameboard['Hall'].suspects.length > 0"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Hall'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Hall'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Hall'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Hall'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Hall'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Hall'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Hall'].length && gameboard['Hall'].suspects.length > 1"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Hall'].suspects[1] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Hall'].suspects[1] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Hall'].suspects[1] === 'Professor Plum',
                        'MrGreen': gameboard['Hall'].suspects[1] === 'Mr Green',
                        'MrsWhite': gameboard['Hall'].suspects[1] === 'Mrs White',
                        'MrsPeacock': gameboard['Hall'].suspects[1] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Hall'].length && gameboard['Hall'].suspects.length > 2"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Hall'].suspects[2] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Hall'].suspects[2] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Hall'].suspects[2] === 'Professor Plum',
                        'MrGreen': gameboard['Hall'].suspects[2] === 'Mr Green',
                        'MrsWhite': gameboard['Hall'].suspects[2] === 'Mrs White',
                        'MrsPeacock': gameboard['Hall'].suspects[2] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Hall'].length && gameboard['Hall'].suspects.length > 3"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Hall'].suspects[3] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Hall'].suspects[3] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Hall'].suspects[3] === 'Professor Plum',
                        'MrGreen': gameboard['Hall'].suspects[3] === 'Mr Green',
                        'MrsWhite': gameboard['Hall'].suspects[3] === 'Mrs White',
                        'MrsPeacock': gameboard['Hall'].suspects[3] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Hall'].length && gameboard['Hall'].suspects.length > 4"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Hall'].suspects[4] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Hall'].suspects[4] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Hall'].suspects[4] === 'Professor Plum',
                        'MrGreen': gameboard['Hall'].suspects[4] === 'Mr Green',
                        'MrsWhite': gameboard['Hall'].suspects[4] === 'Mrs White',
                        'MrsPeacock': gameboard['Hall'].suspects[4] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Hall'].length && gameboard['Hall'].suspects.length > 5"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Hall'].suspects[5] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Hall'].suspects[5] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Hall'].suspects[5] === 'Professor Plum',
                        'MrGreen': gameboard['Hall'].suspects[5] === 'Mr Green',
                        'MrsWhite': gameboard['Hall'].suspects[5] === 'Mrs White',
                        'MrsPeacock': gameboard['Hall'].suspects[5] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td class="hhallway">
                <!--Where Ms. Scarlet starts-->
                <div class="token" *ngIf="gameboard['Hall-Lounge'].length && gameboard['Hall-Lounge'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Hall-Lounge'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Hall-Lounge'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Hall-Lounge'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Hall-Lounge'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Hall-Lounge'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['StHall-Loungeudy'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td id="lounge" class="room">
                Lounge
                <div class="token" *ngIf="gameboard['Lounge'].length && gameboard['Lounge'].suspects.length > 0"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Lounge'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Lounge'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Lounge'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Lounge'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Lounge'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Lounge'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Lounge'].length && gameboard['Lounge'].suspects.length > 1"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Lounge'].suspects[1] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Lounge'].suspects[1] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Lounge'].suspects[1] === 'Professor Plum',
                        'MrGreen': gameboard['Lounge'].suspects[1] === 'Mr Green',
                        'MrsWhite': gameboard['Lounge'].suspects[1] === 'Mrs White',
                        'MrsPeacock': gameboard['Lounge'].suspects[1] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Lounge'].length && gameboard['Lounge'].suspects.length > 2"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Lounge'].suspects[2] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Lounge'].suspects[2] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Lounge'].suspects[2] === 'Professor Plum',
                        'MrGreen': gameboard['Lounge'].suspects[2] === 'Mr Green',
                        'MrsWhite': gameboard['Lounge'].suspects[2] === 'Mrs White',
                        'MrsPeacock': gameboard['Lounge'].suspects[2] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Lounge'].length && gameboard['Lounge'].suspects.length > 3"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Lounge'].suspects[3] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Lounge'].suspects[3] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Lounge'].suspects[3] === 'Professor Plum',
                        'MrGreen': gameboard['Lounge'].suspects[3] === 'Mr Green',
                        'MrsWhite': gameboard['Lounge'].suspects[3] === 'Mrs White',
                        'MrsPeacock': gameboard['Lounge'].suspects[3] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Lounge'].length && gameboard['Lounge'].suspects.length > 4"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Lounge'].suspects[4] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Lounge'].suspects[4] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Lounge'].suspects[4] === 'Professor Plum',
                        'MrGreen': gameboard['Lounge'].suspects[4] === 'Mr Green',
                        'MrsWhite': gameboard['Lounge'].suspects[4] === 'Mrs White',
                        'MrsPeacock': gameboard['Lounge'].suspects[4] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Lounge'].length && gameboard['Lounge'].suspects.length > 5"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Lounge'].suspects[5] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Lounge'].suspects[5] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Lounge'].suspects[5] === 'Professor Plum',
                        'MrGreen': gameboard['Lounge'].suspects[5] === 'Mr Green',
                        'MrsWhite': gameboard['Lounge'].suspects[5] === 'Mrs White',
                        'MrsPeacock': gameboard['Lounge'].suspects[5] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
        </tr>
        <tr id="row2">
            <td class="vhallway">
                <!--Where Prof. Plum starts-->
                <div class="token" *ngIf="gameboard['Library-Study'].length && gameboard['Library-Study'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Library-Study'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Library-Study'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Library-Study'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Library-Study'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Library-Study'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Library-Study'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td></td>
            <td class="vhallway">
                <div class="token" *ngIf="gameboard['Billiard Room-Hall'].length && gameboard['Billiard Room-Hall'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Billiard Room-Hall'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Billiard Room-Hall'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Billiard Room-Hall'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Billiard Room-Hall'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Billiard Room-Hall'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Billiard Room-Hall'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td></td>
            <td class="vhallway">
                <!--Where Col. Mustard starts-->
                <div class="token" *ngIf="gameboard['Dining Room-Lounge'].length && gameboard['Dining Room-Lounge'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Dining Room-Lounge'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Dining Room-Lounge'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Dining Room-Lounge'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Dining Room-Lounge'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Dining Room-Lounge'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Dining Room-Lounge'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
        </tr>
        <tr id="row3">
            <td id="library" class="room">
                Library
                <div class="token" *ngIf="gameboard['Library'].length && gameboard['Library'].suspects.length > 0"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Library'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Library'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Library'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Library'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Library'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Library'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Library'].length && gameboard['Library'].suspects.length > 1"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Library'].suspects[1] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Library'].suspects[1] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Library'].suspects[1] === 'Professor Plum',
                        'MrGreen': gameboard['Library'].suspects[1] === 'Mr Green',
                        'MrsWhite': gameboard['Library'].suspects[1] === 'Mrs White',
                        'MrsPeacock': gameboard['Library'].suspects[1] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Library'].length && gameboard['Library'].suspects.length > 2"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Library'].suspects[2] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Library'].suspects[2] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Library'].suspects[2] === 'Professor Plum',
                        'MrGreen': gameboard['Library'].suspects[2] === 'Mr Green',
                        'MrsWhite': gameboard['Library'].suspects[2] === 'Mrs White',
                        'MrsPeacock': gameboard['Library'].suspects[2] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Library'].length && gameboard['Library'].suspects.length > 3"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Library'].suspects[3] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Library'].suspects[3] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Library'].suspects[3] === 'Professor Plum',
                        'MrGreen': gameboard['Library'].suspects[3] === 'Mr Green',
                        'MrsWhite': gameboard['Library'].suspects[3] === 'Mrs White',
                        'MrsPeacock': gameboard['Library'].suspects[3] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Library'].length && gameboard['Library'].suspects.length > 4"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Library'].suspects[4] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Library'].suspects[4] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Library'].suspects[4] === 'Professor Plum',
                        'MrGreen': gameboard['Library'].suspects[4] === 'Mr Green',
                        'MrsWhite': gameboard['Library'].suspects[4] === 'Mrs White',
                        'MrsPeacock': gameboard['Library'].suspects[4] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Library'].length && gameboard['Library'].suspects.length > 5"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Library'].suspects[5] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Library'].suspects[5] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Library'].suspects[5] === 'Professor Plum',
                        'MrGreen': gameboard['Library'].suspects[5] === 'Mr Green',
                        'MrsWhite': gameboard['Library'].suspects[5] === 'Mrs White',
                        'MrsPeacock': gameboard['Library'].suspects[5] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td class="hhallway">
                <div class="token" *ngIf="gameboard['Billiard Room-Library'].length && gameboard['Billiard Room-Library'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Billiard Room-Library'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Billiard Room-Library'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Billiard Room-Library'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Billiard Room-Library'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Billiard Room-Library'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Billiard Room-Library'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td id="billiard_room" class="room">
                Billiard Room
                <div class="token" *ngIf="gameboard['Billiard Room'].length && gameboard['Billiard Room'].suspects.length > 0"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Billiard Room'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Billiard Room'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Billiard Room'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Billiard Room'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Billiard Room'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Billiard Room'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Billiard Room'].length && gameboard['Billiard Room'].suspects.length > 1"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Billiard Room'].suspects[1] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Billiard Room'].suspects[1] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Billiard Room'].suspects[1] === 'Professor Plum',
                        'MrGreen': gameboard['Billiard Room'].suspects[1] === 'Mr Green',
                        'MrsWhite': gameboard['Billiard Room'].suspects[1] === 'Mrs White',
                        'MrsPeacock': gameboard['Billiard Room'].suspects[1] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Billiard Room'].length && gameboard['Billiard Room'].suspects.length > 2"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Billiard Room'].suspects[2] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Billiard Room'].suspects[2] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Billiard Room'].suspects[2] === 'Professor Plum',
                        'MrGreen': gameboard['Billiard Room'].suspects[2] === 'Mr Green',
                        'MrsWhite': gameboard['Billiard Room'].suspects[2] === 'Mrs White',
                        'MrsPeacock': gameboard['Billiard Room'].suspects[2] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Billiard Room'].length && gameboard['Billiard Room'].suspects.length > 3"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Billiard Room'].suspects[3] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Billiard Room'].suspects[3] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Billiard Room'].suspects[3] === 'Professor Plum',
                        'MrGreen': gameboard['Billiard Room'].suspects[3] === 'Mr Green',
                        'MrsWhite': gameboard['Billiard Room'].suspects[3] === 'Mrs White',
                        'MrsPeacock': gameboard['Billiard Room'].suspects[3] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Billiard Room'].length && gameboard['Billiard Room'].suspects.length > 4"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Billiard Room'].suspects[4] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Billiard Room'].suspects[4] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Billiard Room'].suspects[4] === 'Professor Plum',
                        'MrGreen': gameboard['Billiard Room'].suspects[4] === 'Mr Green',
                        'MrsWhite': gameboard['Billiard Room'].suspects[4] === 'Mrs White',
                        'MrsPeacock': gameboard['Billiard Room'].suspects[4] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Billiard Room'].length && gameboard['Billiard Room'].suspects.length > 5"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Billiard Room'].suspects[5] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Billiard Room'].suspects[5] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Billiard Room'].suspects[5] === 'Professor Plum',
                        'MrGreen': gameboard['Billiard Room'].suspects[5] === 'Mr Green',
                        'MrsWhite': gameboard['Billiard Room'].suspects[5] === 'Mrs White',
                        'MrsPeacock': gameboard['Billiard Room'].suspects[5] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td class="hhallway">
                <div class="token" *ngIf="gameboard['Billiard Room-Dining Room'].length && gameboard['Billiard Room-Dining Room'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Billiard Room-Dining Room'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Billiard Room-Dining Room'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Billiard Room-Dining Room'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Billiard Room-Dining Room'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Billiard Room-Dining Room'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Billiard Room-Dining Room'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td id="dining_room" class="room">
                Dining Room
                <div class="token" *ngIf="gameboard['Dining Room'].length && gameboard['Dining Room'].suspects.length > 0"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Dining Room'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Dining Room'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Dining Room'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Dining Room'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Dining Room'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Dining Room'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Dining Room'].length && gameboard['Dining Room'].suspects.length > 1"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Dining Room'].suspects[1] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Dining Room'].suspects[1] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Dining Room'].suspects[1] === 'Professor Plum',
                        'MrGreen': gameboard['Dining Room'].suspects[1] === 'Mr Green',
                        'MrsWhite': gameboard['Dining Room'].suspects[1] === 'Mrs White',
                        'MrsPeacock': gameboard['Dining Room'].suspects[1] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Dining Room'].length && gameboard['Dining Room'].suspects.length > 2"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Dining Room'].suspects[2] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Dining Room'].suspects[2] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Dining Room'].suspects[2] === 'Professor Plum',
                        'MrGreen': gameboard['Dining Room'].suspects[2] === 'Mr Green',
                        'MrsWhite': gameboard['Dining Room'].suspects[2] === 'Mrs White',
                        'MrsPeacock': gameboard['Dining Room'].suspects[2] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Dining Room'].length && gameboard['Dining Room'].suspects.length > 3"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Dining Room'].suspects[3] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Dining Room'].suspects[3] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Dining Room'].suspects[3] === 'Professor Plum',
                        'MrGreen': gameboard['Dining Room'].suspects[3] === 'Mr Green',
                        'MrsWhite': gameboard['Dining Room'].suspects[3] === 'Mrs White',
                        'MrsPeacock': gameboard['Dining Room'].suspects[3] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Dining Room'].length && gameboard['Dining Room'].suspects.length > 4"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Dining Room'].suspects[4] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Dining Room'].suspects[4] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Dining Room'].suspects[4] === 'Professor Plum',
                        'MrGreen': gameboard['Dining Room'].suspects[4] === 'Mr Green',
                        'MrsWhite': gameboard['Dining Room'].suspects[4] === 'Mrs White',
                        'MrsPeacock': gameboard['Dining Room'].suspects[4] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Dining Room'].length && gameboard['Dining Room'].suspects.length > 5"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Dining Room'].suspects[5] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Dining Room'].suspects[5] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Dining Room'].suspects[5] === 'Professor Plum',
                        'MrGreen': gameboard['Dining Room'].suspects[5] === 'Mr Green',
                        'MrsWhite': gameboard['Dining Room'].suspects[5] === 'Mrs White',
                        'MrsPeacock': gameboard['Dining Room'].suspects[5] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
        </tr>
        <tr id="row4">
            <td class="vhallway">
                <!--Where Mrs. Peacock starts-->
                <div class="token" *ngIf="gameboard['Conservatory-Library'].length && gameboard['Conservatory-Library'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Conservatory-Library'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Conservatory-Library'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Conservatory-Library'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Conservatory-Library'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Conservatory-Library'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Conservatory-Library'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td></td>
            <td class="vhallway">
                <div class="token" *ngIf="gameboard['Ballroom-Billiard Room'].length && gameboard['Ballroom-Billiard Room'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Ballroom-Billiard Room'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Ballroom-Billiard Room'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Ballroom-Billiard Room'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Ballroom-Billiard Room'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Ballroom-Billiard Room'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Ballroom-Billiard Room'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td></td>
            <td class="vhallway">
                <div class="token" *ngIf="gameboard['Dining Room-Kitchen'].length && gameboard['Dining Room-Kitchen'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Dining Room-Kitchen'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Dining Room-Kitchen'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Dining Room-Kitchen'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Dining Room-Kitchen'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Dining Room-Kitchen'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Dining Room-Kitchen'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
        </tr>
        <tr id="row5">
            <td id="conservatory" class="room">
                Conservatory
                <div class="token" *ngIf="gameboard['Conservatory'].length && gameboard['Conservatory'].suspects.length > 0"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Conservatory'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Conservatory'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Conservatory'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Conservatory'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Conservatory'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Conservatory'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Conservatory'].length && gameboard['Conservatory'].suspects.length > 1"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Conservatory'].suspects[1] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Conservatory'].suspects[1] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Conservatory'].suspects[1] === 'Professor Plum',
                        'MrGreen': gameboard['Conservatory'].suspects[1] === 'Mr Green',
                        'MrsWhite': gameboard['Conservatory'].suspects[1] === 'Mrs White',
                        'MrsPeacock': gameboard['Conservatory'].suspects[1] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Conservatory'].length && gameboard['Conservatory'].suspects.length > 2"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Conservatory'].suspects[2] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Conservatory'].suspects[2] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Conservatory'].suspects[2] === 'Professor Plum',
                        'MrGreen': gameboard['Conservatory'].suspects[2] === 'Mr Green',
                        'MrsWhite': gameboard['Conservatory'].suspects[2] === 'Mrs White',
                        'MrsPeacock': gameboard['Conservatory'].suspects[2] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Conservatory'].length && gameboard['Conservatory'].suspects.length > 3"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Conservatory'].suspects[3] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Conservatory'].suspects[3] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Conservatory'].suspects[3] === 'Professor Plum',
                        'MrGreen': gameboard['Conservatory'].suspects[3] === 'Mr Green',
                        'MrsWhite': gameboard['Conservatory'].suspects[3] === 'Mrs White',
                        'MrsPeacock': gameboard['Conservatory'].suspects[3] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Conservatory'].length && gameboard['Conservatory'].suspects.length > 4"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Conservatory'].suspects[4] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Conservatory'].suspects[4] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Conservatory'].suspects[4] === 'Professor Plum',
                        'MrGreen': gameboard['Conservatory'].suspects[4] === 'Mr Green',
                        'MrsWhite': gameboard['Conservatory'].suspects[4] === 'Mrs White',
                        'MrsPeacock': gameboard['Conservatory'].suspects[4] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Conservatory'].length && gameboard['Conservatory'].suspects.length > 5"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Conservatory'].suspects[5] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Conservatory'].suspects[5] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Conservatory'].suspects[5] === 'Professor Plum',
                        'MrGreen': gameboard['Conservatory'].suspects[5] === 'Mr Green',
                        'MrsWhite': gameboard['Conservatory'].suspects[5] === 'Mrs White',
                        'MrsPeacock': gameboard['Conservatory'].suspects[5] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td class="hhallway">
                <!--Where Mr. Green starts-->
                <div class="token" *ngIf="gameboard['Ballroom-Conservatory'].length && gameboard['Ballroom-Conservatory'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Ballroom-Conservatory'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Ballroom-Conservatory'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Ballroom-Conservatory'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Ballroom-Conservatory'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Ballroom-Conservatory'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Ballroom-Conservatory'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td id="ballroom" class="room">
                Ballroom
                <div class="token" *ngIf="gameboard['Ballroom'].length && gameboard['Ballroom'].suspects.length > 0"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Ballroom'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Ballroom'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Ballroom'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Ballroom'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Ballroom'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Ballroom'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Ballroom'].length && gameboard['Ballroom'].suspects.length > 1"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Ballroom'].suspects[1] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Ballroom'].suspects[1] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Ballroom'].suspects[1] === 'Professor Plum',
                        'MrGreen': gameboard['Ballroom'].suspects[1] === 'Mr Green',
                        'MrsWhite': gameboard['Ballroom'].suspects[1] === 'Mrs White',
                        'MrsPeacock': gameboard['Ballroom'].suspects[1] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Ballroom'].length && gameboard['Ballroom'].suspects.length > 2"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Ballroom'].suspects[2] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Ballroom'].suspects[2] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Ballroom'].suspects[2] === 'Professor Plum',
                        'MrGreen': gameboard['Ballroom'].suspects[2] === 'Mr Green',
                        'MrsWhite': gameboard['Ballroom'].suspects[2] === 'Mrs White',
                        'MrsPeacock': gameboard['Ballroom'].suspects[2] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Ballroom'].length && gameboard['Ballroom'].suspects.length > 3"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Ballroom'].suspects[3] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Ballroom'].suspects[3] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Ballroom'].suspects[3] === 'Professor Plum',
                        'MrGreen': gameboard['Ballroom'].suspects[3] === 'Mr Green',
                        'MrsWhite': gameboard['Ballroom'].suspects[3] === 'Mrs White',
                        'MrsPeacock': gameboard['Ballroom'].suspects[3] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Ballroom'].length && gameboard['Ballroom'].suspects.length > 4"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Ballroom'].suspects[4] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Ballroom'].suspects[4] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Ballroom'].suspects[4] === 'Professor Plum',
                        'MrGreen': gameboard['Ballroom'].suspects[4] === 'Mr Green',
                        'MrsWhite': gameboard['Ballroom'].suspects[4] === 'Mrs White',
                        'MrsPeacock': gameboard['Ballroom'].suspects[4] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Ballroom'].length && gameboard['Ballroom'].suspects.length > 5"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Ballroom'].suspects[5] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Ballroom'].suspects[5] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Ballroom'].suspects[5] === 'Professor Plum',
                        'MrGreen': gameboard['Ballroom'].suspects[5] === 'Mr Green',
                        'MrsWhite': gameboard['Ballroom'].suspects[5] === 'Mrs White',
                        'MrsPeacock': gameboard['Ballroom'].suspects[5] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td class="hhallway">
                <!--Where Mrs. White starts-->
                <div class="token" *ngIf="gameboard['Ballroom-Kitchen'].length && gameboard['Ballroom-Kitchen'].suspects.length"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Ballroom-Kitchen'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Ballroom-Kitchen'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Ballroom-Kitchen'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Ballroom-Kitchen'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Ballroom-Kitchen'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Ballroom-Kitchen'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
            <td id="kitchen" class="room">
                Kitchen
                <div class="token" *ngIf="gameboard['Kitchen'].length && gameboard['Kitchen'].suspects.length > 0"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Kitchen'].suspects[0] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Kitchen'].suspects[0] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Kitchen'].suspects[0] === 'Professor Plum',
                        'MrGreen': gameboard['Kitchen'].suspects[0] === 'Mr Green',
                        'MrsWhite': gameboard['Kitchen'].suspects[0] === 'Mrs White',
                        'MrsPeacock': gameboard['Kitchen'].suspects[0] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Kitchen'].length && gameboard['Kitchen'].suspects.length > 1"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Kitchen'].suspects[1] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Kitchen'].suspects[1] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Kitchen'].suspects[1] === 'Professor Plum',
                        'MrGreen': gameboard['Kitchen'].suspects[1] === 'Mr Green',
                        'MrsWhite': gameboard['Kitchen'].suspects[1] === 'Mrs White',
                        'MrsPeacock': gameboard['Kitchen'].suspects[1] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Kitchen'].length && gameboard['Kitchen'].suspects.length > 2"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Kitchen'].suspects[2] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Kitchen'].suspects[2] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Kitchen'].suspects[2] === 'Professor Plum',
                        'MrGreen': gameboard['Kitchen'].suspects[2] === 'Mr Green',
                        'MrsWhite': gameboard['Kitchen'].suspects[2] === 'Mrs White',
                        'MrsPeacock': gameboard['Kitchen'].suspects[2] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Kitchen'].length && gameboard['Kitchen'].suspects.length > 3"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Kitchen'].suspects[3] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Kitchen'].suspects[3] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Kitchen'].suspects[3] === 'Professor Plum',
                        'MrGreen': gameboard['Kitchen'].suspects[3] === 'Mr Green',
                        'MrsWhite': gameboard['Kitchen'].suspects[3] === 'Mrs White',
                        'MrsPeacock': gameboard['Kitchen'].suspects[3] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Kitchen'].length && gameboard['Kitchen'].suspects.length > 4"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Kitchen'].suspects[4] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Kitchen'].suspects[4] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Kitchen'].suspects[4] === 'Professor Plum',
                        'MrGreen': gameboard['Kitchen'].suspects[4] === 'Mr Green',
                        'MrsWhite': gameboard['Kitchen'].suspects[4] === 'Mrs White',
                        'MrsPeacock': gameboard['Kitchen'].suspects[4] === 'Mrs Peacock'
                    }"
                ></div>
                <div class="token" *ngIf="gameboard['Kitchen'].length && gameboard['Kitchen'].suspects.length > 5"
                    [ngClass]="{
                        'ColonelMustard': gameboard['Kitchen'].suspects[5] === 'Colonel Mustard',
                        'MissScarlet': gameboard['Kitchen'].suspects[5] === 'Miss Scarlet',
                        'ProfessorPlum': gameboard['Kitchen'].suspects[5] === 'Professor Plum',
                        'MrGreen': gameboard['Kitchen'].suspects[5] === 'Mr Green',
                        'MrsWhite': gameboard['Kitchen'].suspects[5] === 'Mrs White',
                        'MrsPeacock': gameboard['Kitchen'].suspects[5] === 'Mrs Peacock'
                    }"
                ></div>
            </td>
        </tr>
    </table>
</div>